@model ProductDetailsModel
@{
    Html.AddScriptParts(ResourceLocation.Footer, "~/lib/magnific-popup/jquery.magnific-popup.min.js");
    Html.AddCssFileParts("~/lib/magnific-popup/magnific-popup.css");
    var i = 0;
}
<div class="gallery sevenspikes-cloudzoom-gallery">
    <div class="picture-wrapper">
        @if (!Model.DefaultPictureZoomEnabled)
        {
        <div class="picture" id="sevenspikes-cloud-zoom" data-zoomwindowelementid="" data-selectoroftheparentelementofthecloudzoomwindow="" data-defaultimagecontainerselector=".product-essential .gallery" data-zoom-window-width="244" data-zoom-window-height="257">
            <a href="@Model.DefaultPictureModel.FullSizeImageUrl" data-full-image-url="@Model.DefaultPictureModel.FullSizeImageUrl" class="picture-link" id="zoom1">
                <img src="@Model.DefaultPictureModel.FullSizeImageUrl" class="cloudzoom" id="cloudZoomImage" itemprop="image" data-cloudzoom="appendSelector: '.picture-wrapper', zoomPosition: 'inside', zoomOffsetX: 0, captionPosition: 'bottom', tintOpacity: 0, zoomWidth: 244, zoomHeight: 257, easing: 3, touchStartDelay: true, zoomFlyOut: false, disableZoom: 'false'" style="-moz-user-select: none;">
            </a>
        </div>
        <script type="text/javascript" asp-location="Footer">
                $(document).ready(function () {
                    var imgpath = '@Model.DefaultPictureModel.FullSizeImageUrl';

                    var magdata = {
                        type: 'image',
                        index: 0,
                        items: [
                            @foreach (var picture in Model.PictureModels)
                            {
                                @Html.Raw("{src: '" + picture.FullSizeImageUrl + "'},");
                            }                            
                        ],
                        removalDelay: 300,
                        gallery: {
                            enabled: true,
                            tPrev: '@T("Media.MagnificPopup.Previous")',
                            tNext: '@T("Media.MagnificPopup.Next")',
                            tCounter: '@T("Media.MagnificPopup.Counter")'
                        },
                        tClose: '@T("Media.MagnificPopup.Close")',
                        tLoading: '@T("Media.MagnificPopup.Loading")'
                    }
                    $('#zoom1').magnificPopup(magdata);

                    $('.thumb-item img').on('click', function () {
                        imgpath = $(this).attr('data-defaultsize');
                        magdata.index = Number($(this).attr('index'));

                        $('#zoom1').magnificPopup(magdata);
                        $('#cloudZoomImage').attr('src', imgpath);
                        $('#zoom1').attr('data-full-image-url', imgpath);
                        $('#CloudZoom').attr("href", imgpath);
                        $('.cloudzoom, .cloud-zoom-gallery').CloudZoom();
                    });
                });
        </script>
        }
        else
        {
            <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" itemprop="image" id="main-product-img-@Model.Id" />
        }
    </div>

    @if (Model.PictureModels.Count > 1)
    {
        <div class="picture-thumbs">
            @foreach (var picture in Model.PictureModels)
            {
                <a class="thumb-item thumb-popup-link">
                    <img index="@i" src="@picture.ThumbImageUrl" alt="@picture.AlternateText" title="@picture.Title" data-defaultsize="@picture.FullSizeImageUrl" data-fullsize="@picture.FullSizeImageUrl" />
                </a>
                i++;
            }
        </div>
    }
</div>
