@model IList<ProductOverviewModel>
@if (Model.Count > 0)
{
    <div class="item-grid">
        @foreach (var item in Model)
        {
            <div class="item-box">
                <div class="product-item sevenspikes-ajaxcart">
                    @if (item.MarkAsNew)
                    {
                        <div class="ribbon-wrapper">
                            <div class="picture">
                                <a><img class="picture-img" src="@item.DefaultPictureModel.ImageUrl" alt="@item.ShortDescription" title="@item.DefaultPictureModel.Title" /></a>
                            </div>
                            <a href="#" class="ribbon-position top-right">
                                <div class="product-ribbon">
                                    <label class="ribbon-text">New</label>
                                </div>
                            </a>
                        </div>

                    }
                    else
                    {
                        <div class="picture">
                            <a><img class="picture-img" src="@item.DefaultPictureModel.ImageUrl" alt="@item.ShortDescription" title="@item.DefaultPictureModel.Title" /></a>
                        </div>

                    }
                    <div class="details">
                        <h2 class="product-title">
                            <a href="#">@item.Name</a>
                        </h2>
                        <div class="add-info">
                            <div class="prices">
                                <div class="box-prices-wrapper">
                                    <span class="price actual-price">@item.ProductPrice.Price</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    @*<div class="product-grid bestsellers">
            <div class="title sub-title">
                <strong>@T("Bestsellers")</strong>
            </div>
            <div class="row">
                @if (Model.Count <= 4)
                {
                    foreach (var item in Model)
                    {
                        <div class="item-box product-grid col-xs-12 col-sm-4 col-md-3 product-align clearfix">
                            <div class="thumbnail">
                                @await Html.PartialAsync("_ProductBox", item)
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div id="home-bestseller-slider" class="home-bestseller-slider">
                        @foreach (var item in Model)
                        {
                            <div class="item-box product-grid col-xs-12 col-sm-12 col-md-12 product-align clearfix">
                                <div class="thumbnail">@await Html.PartialAsync("_ProductBox", item)</div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>*@
}