@model Nop.Web.Models.Catalog.CategorySimpleModel
<div class="box">
    <div class="picture-title-wrap">
        <div class="title">
            <a href="@Url.RouteUrl("Category", new { SeName = Model.SeName })">@Model.Name</a>
        </div>
        <div class="picture">
            <a>
                <img class="lazy" src="@Model.Picture.ImageUrl"/>
            </a>
        </div>
    </div>

    <ul class="subcategories">
        @{
            @foreach (var subCategory in Model.SubCategories)
            {
                <li class="subcategory-item">
                    <a href="@Url.RouteUrl("Category", new { SeName = subCategory.SeName })">
                        <span class="row">
                            @subCategory.Name
                            @*@await Html.PartialAsync("_CategorySubCategoryLine.TopMenu", subCategory)*@
                        </span>
                    </a>
                </li>
            }
        }
    </ul>
    @*<span class="with-subcategories single-item-categories labelfornextplusbutton" href="@Url.RouteUrl("Category", new { SeName = Model.SeName })" role="button" aria-expanded="false">
            @Model.Name
            @if (Model.NumberOfProducts.HasValue)
            {
                <text> </text>@T("Categories.TotalProducts", Model.NumberOfProducts.Value)
            }
        </span>*@

</div>